Q1
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 - 
          
          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 :Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
q15 : Try to unwrape all the collection inside collection and create a flat list

In [3]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [4]:
#3
for i in l:
    if type(i)==list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [5]:
#4
for i in l:
    if type(i)==dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [6]:
#5
for i in l:
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [31]:
#6
m = []
for i in l:
    if type(i)==int or type(i)==tuple or type(i)==set or type(i)==list:
        for j in i:
            if type(j)==int:
                m.append(j)
    if type(i)==dict:
        for j in i.items():
            for k in j:
                if type(k)==int:
                    m.append(k)
print(m)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [33]:
#7
print(sum(m))

156

In [35]:
#8
for i in m:
    if i%2!=0:
        print(i)

1
3
3
5
3
5
7
45
5
23
3
7

In [39]:
#9
n = []
for i in l:
    if type(i)==list or type(i)==set or type(i)==tuple:
        for j in i:
            if j=="ineuron":
                n.append(j)
    if type(i)==dict:
        for k in i.items():
            for g in k:
                if g=="ineuron":
                    n.append(g)
print(n)

['ineuron', 'ineuron']

In [41]:
#10
q = []
for i in l:
    if type(i)==list or type(i)==set or type(i)==tuple:
        for j in i:
            q.append(j)
    if type(i)==dict:
        for k in i.items():
            for o in k:
                q.append(o)
print(q)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science ']

In [45]:
#10 continuation
for i in q:
    print(i,":",q.count(i))

1 : 1
2 : 2
3 : 4
4 : 4
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
45 : 1
4 : 4
5 : 3
23 : 1
k1 : 1
sudh : 1
k2 : 1
ineuron : 2
k3 : 1
kumar : 1
3 : 4
6 : 3
7 : 2
8 : 1
ineuron : 2
data science  : 1

In [46]:
#11
for i in l:
    if type(i)==dict:
        for j in i.keys():
            print(j)

k1
k2
k3
3
7

In [47]:
#12
b = []
for i in l:
    if type(i)==int or type(i)==tuple or type(i)==set or type(i)==list:
        for j in i:
            if type(j)==str:
                b.append(j)
    if type(i)==dict:
        for j in i.items():
            for k in j:
                if type(k)==str:
                    b.append(k)
print(b)

['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron', 'data science ']

In [51]:
#13
for i in b:
    if i.isalnum():
        print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron

In [59]:
#14
for i in l:
    m = 1
    if type(i)==int or type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j) == int:
                m = m*j
        print(m,":",type(i))
    if type(i)==dict:
        for j in i.items():
            for k in j:
                if type(k)==int:
                    m*=k
        print(m,":",type(i))

24 : <class 'list'>
720 : <class 'tuple'>
2520 : <class 'tuple'>
20700 : <class 'set'>
1008 : <class 'dict'>
1 : <class 'list'>

In [60]:
#15
print(q)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science ']

In [62]:
#1
n = 4
for i in range(n):
    for j in range(i+1):
        print('pandi',end = ' ')
    print()

pandi
pandi pandi
pandi pandi pandi
pandi pandi pandi pandi

In [87]:
n = int(input('enter an number : '))
for i in range(n):
    print("ineuron"*(i+1))
    print("\t")

enter an number : 4
ineuron

ineuronineuron

ineuronineuronineuron

ineuronineuronineuronineuron


q2 - 
          
          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

In [78]:
n = 3
for i in range(n):
    for j in range(n-i-1):
        print('  ',end= '  ')
    for k in range(i+1):
        print('ineuron',end = ' ')
    print('\n')

        ineuron

    ineuron ineuron

ineuron ineuron ineuron

In [93]:
#2
for i in range(6):
    if i<=3:
        n = i
    else:
        n = 6-i
    print(("ineuron "*n).center(50,' '))

                     ineuron
                 ineuron ineuron
             ineuron ineuron ineuron
                 ineuron ineuron
                     ineuron